@using BrandSquare.Classes
@using BrandSquare.Models
@model Brand
@{
    ViewBag.Title = Model.BrandName;
}

<span class="hidden-lg-down BrandController"></span>

<x-addsomething></x-addsomething>
<div class="row">
    <br />
</div>

<hr class="fullWidth" />
<section class="section section-intro">
    <x-addevent-sales></x-addevent-sales>
</section>

<section class="section section-intro">
    <x-editevent-sales></x-editevent-sales>
</section>


<section class="section section-intro">
    <div class="row">
        <div class="col-xs-10 offset-xs-1 col-md-6">
            <div class="card card-outline-success classic-admin-card">

            </div>
        </div>
        <div class="col-xs-10 offset-xs-1 col-md-6">
            <div class="card card-outline-success classic-admin-card">
            </div>
        </div>
    </div>
</section>
