@{
    ViewBag.Title = "About";
}

<section class="section section-blog-fw">
    <div class="row">
        <div class="col-md-12">
            <div class="view overlay hm-white-slight">
                <img style="width:100%;height:100%" class="img-fluid" src="~/Content/images/logo/BrandSquare.png" />
                <a>
                    <div class="mask "></div>
                </a>
            </div>

            <div class="jumbotron">
                <h2><a>BrandSquare</a></h2>
                <p>Linking all upcoming brands with thier fans</p>
                <div class="social-counters ">
                    <a class="btn btn-fb ">
                        <i class="fa fa-facebook left "></i>
                        <span class="hidden-md-down ">Facebook</span>
                    </a>
                    <a class="btn btn-tw ">
                        <i class="fa fa-twitter left "></i>
                        <span class="hidden-md-down ">Twitter</span>
                    </a>
                    <span class="counter ">47</span>
                    <a class="btn btn-gplus ">
                        <i class="fa fa-google-plus left "></i>
                        <span class="hidden-md-down ">Google+</span>
                    </a>
                    <span class="counter">19</span>
                    <a class="btn btn-ins">
                        <i class="fa fa-instagram left "></i>
                        <span class="hidden-md-down ">Instagram</span>
                    </a>
                    <span class="counter ">19</span>
                </div>
            </div>
            <div class="excerpt">
                <p>
                    BrandSquare offers a platform for bloody bluh bluh ... Ari wane muthu ane ado kona u nwala tshirendo hetshi , and it has to be long enough you know???
                    BrandSquare offers a platform for bloody bluh bluh ... Ari wane muthu ane ado kona u nwala tshirendo hetshi , and it has to be long enough you know???
                    BrandSquare offers a platform for bloody bluh bluh ... Ari wane muthu ane ado kona u nwala tshirendo hetshi , and it has to be long enough you know???
                </p>
                <p>
                    BrandSquare offers a platform for bloody bluh bluh ... Ari wane muthu ane ado kona u nwala tshirendo hetshi , and it has to be long enough you know???
                    This is just a repeat you know (Copy => Paste)
                    BrandSquare offers a platform for bloody bluh bluh ... Ari wane muthu ane ado kona u nwala tshirendo hetshi , and it has to be long enough you know???
                </p>
                <p>
                    BrandSquare offers a platform for bloody bluh bluh ... Ari wane muthu ane ado kona u nwala tshirendo hetshi , and it has to be long enough you know???
                    This is just a repeat you know (Copy => Paste)
                    BrandSquare offers a platform for bloody bluh bluh ... Ari wane muthu ane ado kona u nwala tshirendo hetshi , and it has to be long enough you know???
                </p>
            </div>
        </div>
    </div>
    <hr>
</section>


<section class="section team-section ">

    <h1 class="section-heading ">Our amazing team</h1>

    <div class="row text-xs-center">

        <div class="col-md-4 m-b-r">
            <div class="card">
                <div class="card-block">
                    <div class="card-img">
                        <div class="avatar">
                            <img src="~/Content/images/avatars/img (6).jpg">
                        </div>
                    </div>
                    <div class="card-text">
                        <h4>Sirwali Uzzie</h4>
                        <h5>Developer / co-founder</h5>

                        <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
                        <a class="icons-sm"><i class="fa fa-whatsapp green-text"></i></a>
                        <a class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 m-b-r">
            <div class="card">
                <div class="card-block">
                    <div class="card-img">
                        <div class="avatar">
                            <img src="~/Content/images/avatars/img (4).jpg">
                        </div>
                    </div>
                    <div class="card-text">
                        <h4>Khomola Thabelo</h4>
                        <h5>Managing Directer / co-founder</h5>

                        <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
                        <a class="icons-sm"><i class="fa fa-whatsapp green-text"></i></a>
                        <a class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 m-b-r">
            <div class="card">
                <div class="card-block">
                    <div class="card-img waves-light">
                        <div class="avatar">
                            <img src="~/Content/images/avatars/img (9).jpg">
                        </div>
                    </div>
                    <div class="card-text">
                        <h4>Nemavhola Andisani</h4>
                        <h5>CEO / co-founder</h5>

                        <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
                        <a class="icons-sm"><i class="fa fa-whatsapp green-text"></i></a>
                        <a class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="section">
    <div class="row">
        <div class="col-xs-12">

            <div class="card">
                <div class="card-block row">
                    <div class="col-md-12 card-title">
                        <h4 class="text-xs-center">Write to us.</h4>
                    </div>
                    <div class="col-md-8">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="md-form">
                                        <div class="md-form">
                                            <input type="text" id="form41" class="form-control">
                                            <label for="form41" class="">Your name</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="md-form">
                                        <div class="md-form">
                                            <input type="text" id="form52" class="form-control">
                                            <label for="form52" class="">Your email</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="text" id="form51" class="form-control">
                                        <label for="form51" class="">Subject</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <textarea type="text" id="form76" class="md-textarea"></textarea>
                                        <label for="form76">Your message</label>
                                    </div>

                                </div>
                            </div>
                        </form>

                        <div class="center-on-small-only">
                            <a class="btn btn-ins">Send</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <ul class="contact-icons">
                            <li>
                                <i class="fa fa-map-marker fa-2x"></i>
                                <p>Shayandima, Limpopo, South Africa</p>
                            </li>

                            <li>
                                <i class="fa fa-phone fa-2x"></i>
                                <p>0760487292</p>
                            </li>

                            <li>
                                <i class="fa fa-envelope fa-2x"></i>
                                <p>info@brandsqaure.com</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
